/*fonte*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Squada+One&display=swap');

* {
    font-family: Squada One;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: #D9D9D9;
    overflow-x: hidden;
}

header {
    display: flex;
    background-image: linear-gradient(to bottom, #203b52, #D9D9D9);
}

nav {
    justify-content: center;
    width: 100%;
    display: flex;
}

nav > a {
    margin: 0px 10px;
    color: #ffffff;
    border-radius: 10%;
    align-self: center;
    text-decoration: none;
    text-shadow:2px 1px 3px #96ccf8;
    white-space: nowrap;
}

nav > a:hover {
    transition: 0.3s;
    scale: 1.1;
    color:rgb(162, 241, 255);
    text-decoration: underline;
}

/*media*/

/*Celular*/
@media(min-width:320px) and (max-width:500px) {
    #logo {
        margin: 10px;
        width: 100px;  
        height: 100px; 
    }
    header {
        height: 120px;
    }
    a {
        padding: 10px;
        font-size: 20pt;
    }
}

/*Tablet*/
@media(min-width:501px) and (max-width:767px) {
    #logo {
        margin: 10px 0px 0px 15px;
        width: 120px;  
        height: 120px; 
    }
    header {
        height: 130px;
    }
    a {
        padding: 20px;
        font-size: 2em;
    }
}

/*Desktop menor*/
@media(min-width:767px) and (max-width:1440px) {
    #logo {
        margin: 10px 0px 0px 20px;
        width: 140px;  
        height: 140px; 
    }
    header {
        height: 120px;
    }
    a {
        padding: 30px;
        font-size: 3em;
    }
}


/*Desktop maior*/
@media(min-width:1441px){
    #logo {
        margin: 10px 0px 0px 20px;
        width: 160px;  
        height: 160px; 
    }
    header {
        height: 160px;
    }
    a {
        padding: 60px;
        font-size: 4.2em;
    }
}