<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/modelo.css">
    <link rel="shortcut icon" href="../imgs/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos - Adidas</title>
</head>
<body>
    <header>
        <h1 id="marca">Adidas</h1>
        <img src="../imgs/logo_adidas.png" id="imagem_marca">
    </header>

    <section class="produto">

        <img src="../imgs/imagens_campus/be5bff4c-d5cc-45a8-a000-86668d8a7cf6.jfif" class="imagem_produto" id="imagem_campus">

        <article class="clicou_vermais" id="info_avancadas_campus">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_campus/be5bff4c-d5cc-45a8-a000-86668d8a7cf6.jfif" class="modelos">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo">Campus</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$180,00</h2>
    
                <p class="ver_mais" id="ver_mais_campus">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <section class="produto">

        <img src="../imgs/imagens_campus_bad_bunny/5ee1ea62-e9c8-4c71-ac01-96b3dbe4c6b6.jfif" class="imagem_produto" id="imagem_campus_bad_bunny">

        <article class="clicou_vermais" id="info_avancadas_campus_bad_bunny">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_campus_bad_bunny/5ee1ea62-e9c8-4c71-ac01-96b3dbe4c6b6.jfif" class="modelos" onclick="show_campus_bad_bunny(this)">
                <img src="../imgs/imagens_campus_bad_bunny/624f8ec9-1b40-478a-a726-7c34792b192e.jfif" class="modelos" onclick="show_campus_bad_bunny(this)">
                <img src="../imgs/imagens_campus_bad_bunny/98a7a22a-a180-4cff-884c-ef3ffedf474e.jfif" class="modelos" onclick="show_campus_bad_bunny(this)">
                <img src="../imgs/imagens_campus_bad_bunny/bbcae6c9-5562-45af-b3ca-d94630678814.jfif" class="modelos" onclick="show_campus_bad_bunny(this)">
                <img src="../imgs/imagens_campus_bad_bunny/def4b9fb-1645-4b09-824b-0ebfa09ec6b0.jfif" class="modelos" onclick="show_campus_bad_bunny(this)">
                <img src="../imgs/imagens_campus_bad_bunny/faf2df55-2c66-462c-baa8-20c0d41e697f.jfif" class="modelos" onclick="show_campus_bad_bunny(this)">
                <img src="../imgs/imagens_campus_bad_bunny/fef0465f-249c-4628-a880-c18e157174d6.jfif" class="modelos" onclick="show_campus_bad_bunny(this)">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo" style="font-size: 1.4em;">Bad Bunny</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$30,00</h2>
    
                <p class="ver_mais" id="ver_mais_campus_bad_bunny">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <section class="produto">

        <img src="../imgs/imagens_samba_og/2c11d757-b5a6-4291-8d16-6f18b5807e7c.jfif" class="imagem_produto" id="imagem_samba_og">

        <article class="clicou_vermais" id="info_avancadas_samba_og">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_samba_og/2c11d757-b5a6-4291-8d16-6f18b5807e7c.jfif" class="modelos" onclick="show_samba_og(this)">
                <img src="../imgs/imagens_samba_og/2e836e3c-1115-4a39-bc18-49785737610a.jfif" class="modelos" onclick="show_samba_og(this)">
                <img src="../imgs/imagens_samba_og/77a6cb6c-c543-4ff4-9d3d-dc0eed3d5266.jfif" class="modelos" onclick="show_samba_og(this)">
                <img src="../imgs/imagens_samba_og/93d79324-b7ca-41ab-b94c-fcde3059f19d.jfif" class="modelos" onclick="show_samba_og(this)">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo">Samba Og</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$180,00</h2>
    
                <p class="ver_mais" id="ver_mais_samba_og">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <script src="../js/adidas.js"></script>

</body>
</html>