<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/modelo.css">
    <link rel="shortcut icon" href="../imgs/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos Dolce&Gabbana</title>
</head>
<body>
    <header>
        <h1 id="marca" style="font-size: 1.6em;">Dolce&Gabbana</h1>
        <img src="../imgs/logo_dc.png" id="imagem_marca" style="height: 30px;">
    </header>

    <section class="produto">

        <img src="../imgs/imagens_dc_king/b9826e7c-5e7d-4334-a7ca-930b0094b10a.jfif" class="imagem_produto" id="imagem_king">

        <article class="clicou_vermais" id="info_avancadas_king">
            
            <h3 class="tamanhos">38 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_dc_king/5137f9f4-d737-40f2-b6b2-bd2cf2d85723.jfif" class="modelos" onclick="show_king(this)">
                <img src="../imgs/imagens_dc_king/b9826e7c-5e7d-4334-a7ca-930b0094b10a.jfif" class="modelos" onclick="show_king(this)">
                <img src="../imgs/imagens_dc_king/ca2489d9-f651-4018-9c63-9f612570ec98.jfif" class="modelos" onclick="show_king(this)">
                <img src="../imgs/imagens_dc_king/dbe03b50-4b6b-4c7a-893f-d78f92467b54.jfif" class="modelos" onclick="show_king(this)">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo">King</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$250,00</h2>
    
                <p class="ver_mais" id="ver_mais_king">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <script src="../js/dc.js"></script>
</body>
</html>