<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/modelo.css">
    <link rel="shortcut icon" href="../imgs/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos - Louis Vuitton</title>
</head>
<body>
    <header>
        <h1 id="marca" style="font-size: 2.2em;">Louis Vuitton</h1>
        <img src="../imgs/logo_lv.png" id="imagem_marca" style="width: 50px;">
    </header>

    <section class="produto">

        <img src="../imgs/imagens_lv/293afaf4-a52f-4ae4-a51e-67228df75586.jfif" class="imagem_produto" id="imagem_trainer">

        <article class="clicou_vermais" id="info_avancadas_trainer">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_lv/293afaf4-a52f-4ae4-a51e-67228df75586.jfif" class="modelos" onclick="show_trainer(this)">
                <img src="../imgs/imagens_lv/8fbb8b01-13c4-422e-a25f-2054b579beff.jfif" class="modelos" onclick="show_trainer(this)">
                <img src="../imgs/imagens_lv/9572092e-e995-4bbe-a68c-001ec18dcd19.jfif" class="modelos" onclick="show_trainer(this)">
                <img src="../imgs/imagens_lv/b4d7bd13-d598-4ef9-a565-54eda36ba730.jfif" class="modelos" onclick="show_trainer(this)">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo">Trainer</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$250,00</h2>
    
                <p class="ver_mais" id="ver_mais_trainer">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <script src="../js/lv.js"></script>

</body>
</html>