<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/modelo.css">
    <link rel="shortcut icon" href="../imgs/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos - NewBalance</title>
</head>
<body>
    <header>
        <h1 id="marca" style="font-size: 1.9em;">New Balance</h1>
        <img src="../imgs/logo_newbalance.png" id="imagem_marca">
    </header>
</body>
</html>