<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/modelo.css">
    <link rel="shortcut icon" href="../imgs/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos - NewBalance</title>
</head>
<body>
    <header>
        <h1 id="marca" style="font-size: 1.9em;">New Balance</h1>
        <img src="../imgs/logo_newbalance.png" id="imagem_marca">
    </header>

    <section class="produto">

        <img src="../imgs/imagens_9060/171f5e44-eccd-488f-b09b-58f50b670f0b.jfif" class="imagem_produto" id="imagem_9060">

        <article class="clicou_vermais" id="info_avancadas_9060">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_9060/171f5e44-eccd-488f-b09b-58f50b670f0b.jfif" class="modelos" onclick="show_9060(this)">
                <img src="../imgs/imagens_9060/35652cc3-52b9-42c2-aa65-063a23c0a7b6.jfif" class="modelos" onclick="show_9060(this)">
                <img src="../imgs/imagens_9060/61dc8cc3-8e7f-4292-8ad4-c1ed0083389d.jfif" class="modelos" onclick="show_9060(this)">
                <img src="../imgs/imagens_9060/6f25e6d4-db82-493d-a510-19b65e78117c.jfif" class="modelos" onclick="show_9060(this)">
                <img src="../imgs/imagens_9060/cd8162e1-019d-4390-b590-126c7711c593.jfif"  class="modelos" onclick="show_9060(this)">
                <img src="../imgs/imagens_9060/fde43490-903f-4ce8-bb54-65156394bfd2.jfif" class="modelos" onclick="show_9060(this)">
                <img src="../imgs/imagens_9060/fe1c0991-a2a7-419e-8d87-e4d1e2532c36.jfif" class="modelos" onclick="show_9060(this)">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo">9060</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$250,00</h2>
    
                <p class="ver_mais" id="ver_mais_9060">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <section class="produto">

        <img src="../imgs/imagens_550/2fcfe4b2-dc30-497d-8540-f3b0ea2d4f54.jfif" class="imagem_produto" id="imagem_550">

        <article class="clicou_vermais" id="info_avancadas_550">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_550/2fcfe4b2-dc30-497d-8540-f3b0ea2d4f54.jfif" class="modelos" onclick="show_550(this)">
                <img src="../imgs/imagens_550/51b2311f-7c5c-4005-b376-0a1ec92ed18b.jfif" class="modelos" onclick="show_550(this)">
                <img src="../imgs/imagens_550/675688ae-40c9-4952-88bc-3fef5e5941f9.jfif" class="modelos" onclick="show_550(this)">
                <img src="../imgs/imagens_550/e37620f0-727a-4ca4-beb5-ac2e6a2b833c.jfif" class="modelos" onclick="show_550(this)">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo">550</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$250,00</h2>
    
                <p class="ver_mais" id="ver_mais_550">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <script src="../js/nb.js"></script>
</body>
</html>