<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/modelo.css">
    <link rel="shortcut icon" href="../imgs/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos - Nike</title>
</head>
<body>
    <header>
        <h1 id="marca">NIKE</h1>
        <img src="../imgs/logo_nike.png" id="imagem_marca">
    </header>

    <section class="produto">

        <img src="../imgs/imagens_dunk/3b2a85ff-8635-41e7-9667-e3dff6f53db3.jfif" class="imagem_produto" id="imagem_dunk_low">

        <article class="clicou_vermais" id="info_avancadas_dunk_low">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_dunk/3b2a85ff-8635-41e7-9667-e3dff6f53db3.jfif" class="modelos" onclick="show_dunk(this)">
                <img src="../imgs/imagens_dunk/45eff626-449a-4394-abc8-34613559feeb.jfif" class="modelos" onclick="show_dunk(this)">
                <img src="../imgs/imagens_dunk/7702a373-5af2-4376-bbea-92550e099e2e.jfif" class="modelos" onclick="show_dunk(this)">
                <img src="../imgs/imagens_dunk/82b29d6a-81a9-41aa-b343-18f6a6ccb073.jfif" class="modelos" onclick="show_dunk(this)">
                <img src="../imgs/imagens_dunk/b3fd4b2b-c42e-40b9-9184-cba016cf3bc3.jfif" class="modelos" onclick="show_dunk(this)">
                <img src="../imgs/imagens_dunk/c897a1ca-4e7e-41ba-a378-69457f3c957f.jfif" class="modelos" onclick="show_dunk(this)">
                <img src="../imgs/imagens_dunk/cebd3cf9-195a-47c9-9f95-65abd6a54d11.jfif" class="modelos" onclick="show_dunk(this)">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo">Dunk Low</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$250,00</h2>
    
                <p class="ver_mais" id="ver_mais_dunk_low">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>


    <section class="produto">

        <img src="../imgs/imagens_air_force/4bc33283-e63c-4111-a922-5ab359071b61.jfif" class="imagem_produto" id="imagem_air_force">

        <article class="clicou_vermais" id="info_avancadas_air_force">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_air_force/0fa84611-f880-4e4f-99cc-6c251085902f.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/3a9fa6e5-42e6-4ea5-9753-6bc651a416cd.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/4bc33283-e63c-4111-a922-5ab359071b61.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/5056a548-eb8d-422a-a7ca-4bf02022ee65.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/65c78ab8-19a9-4241-b18f-2d0aa2ec1a52.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/ab53d1c0-fa66-4859-947c-42fc95d38c12.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/adb3d887-94f9-48ce-82ae-7734d88322c8.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/b3d38c74-9fe2-4630-9952-092451d1c32e.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/bf50b003-d171-48f7-b510-5c80d66965d0.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/dae5ee6a-492e-4f88-afd0-e08108fff7ea.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/dd562611-223f-460e-a0d7-f1395aaf6add.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/e4b80e04-1d0b-499c-a079-4431a3b56417.jfif" class="modelos" onclick="show_air_force(this)">
                <img src="../imgs/imagens_air_force/fba091ab-42a5-4e8a-85df-ec5d2a5cbf0e.jfif" class="modelos" onclick="show_air_force(this)">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo">Air Force</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$250,00</h2>
    
                <p class="ver_mais" id="ver_mais_air_force">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <script src="../js/nike.js"></script>

</body>
</html>