<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="shortcut icon" href="../imgs/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/quem_somos.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamone Shoes Ajuda</title>
</head>
<body>
    
    <header>

        <img src="../../imgs/logo.png" alt="logo" id="logo">

        <nav>
            
            <a href="../index.html">Modelos</a>
            <a href="../view/contato.html">Contato</a>
            <a href="../view/quem_somos.html">Quem somos</a>

        </nav>

    </header>

    <main>

        <h1 id="titulo">Quem somos</h1>

        <p class="quem_somos">Loja virtual localizada em:</p>
        <div id="div_local">

            <img src="../imgs/icone_local.png" id="imagem_local">
            <p id="local">Nova Serrana - MG</p>

        </div>
        <p class="quem_somos">Especializada na <span id="span_quem_somos">venda de calçados.</span> Contamos com uma equipe dedicada e um estoque diversificado.</p>

        <hr style="margin: 10px 30px 10px 30px;">

        <aside>

            <h1 id="como_trabalhamos">Como trabalhamos</h1>

            <section id="modalidades">

                <article class="modalidade">
                    <h1>Varejo</h1>
                    <p>Venda de uma unidade de calçados.</p>
                </article>

                <article class="modalidade">
                    <h1>Atacado</h1>
                    <p>Pedido com mais de 6 peças, permitindo mesclar cores, modelos e tamanhos.</p>
                </article>

                <article class="modalidade">
                    <h1>Atacado Grade Fechada</h1>
                    <p>- Venda de <span style="text-decoration: underline;">12 pares do mesmo modelo e cor</span>, variando apenas as numerações (feminino do 34 ao 39 e masculino do 38 ao 43). <br>- Essa abordagem permite atender tanto clientes individuais quanto lojas e revendedores, oferecendo flexibilidade nas compras e vantagens no preço. </p>
                </article>

            </section>

        </aside>

    </main>

</body>
</html>