<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/modelo.css">
    <link rel="shortcut icon" href="../imgs/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos - Vans</title>
</head>
<body>
    <header>
        <h1 id="marca">VANS</h1>
        <img src="../imgs/logo_vans.png" id="imagem_marca">
    </header>

    <section class="produto">

        <img src="../imgs/imagens_old_skool/ca04cb9f-6db7-4ce0-878a-fd00d59444bb.jfif" class="imagem_produto" id="imagem_old_scool">

        <article class="clicou_vermais" id="info_avancadas_old_scool">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_old_skool/ca04cb9f-6db7-4ce0-878a-fd00d59444bb.jfif" class="modelos">
            </div>
            
        </article>
    
        <article class="info_produto">
            
            <h1 class="modelo">Old Scool</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$250,00</h2>
    
                <p class="ver_mais" id="ver_mais_old_scool">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <section class="produto">

        <img src="../imgs/imagens_knu/1375a7d9-cdda-4b21-be1b-e5deb26ed687.jfif" class="imagem_produto" id="imagem_knu">

        <article class="clicou_vermais" id="info_avancadas_knu">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_knu/1375a7d9-cdda-4b21-be1b-e5deb26ed687.jfif" class="modelos" onclick="show_knu(this)">
                <img src="../imgs/imagens_knu/ed8d0daf-2f7d-44d7-adc0-f301469eb482.jfif" class="modelos" onclick="show_knu(this)">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo">Knu</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$250,00</h2>
    
                <p class="ver_mais" id="ver_mais_knu">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <section class="produto">

        <img src="../imgs/imagens_ultrarange/37c85661-8412-4f2c-bdc3-34f1f48f86ea.jfif" class="imagem_produto" id="imagem_ultrarange">

        <article class="clicou_vermais" id="info_avancadas_ultrarange">
            
            <h3 class="tamanhos">34 ao 43</h3>

            <div class="div_imagens_modelo">
                <img src="../imgs/imagens_ultrarange/37c85661-8412-4f2c-bdc3-34f1f48f86ea.jfif" class="modelos" onclick="show_ultrarange(this)">
                <img src="../imgs/imagens_ultrarange/3c2d3651-2925-47cb-85fb-715fc4f6b8d2.jfif" class="modelos" onclick="show_ultrarange(this)">
                <img src="../imgs/imagens_ultrarange/491303a3-191d-4735-aef0-026ddbfb8070.jfif" class="modelos" onclick="show_ultrarange(this)">
                <img src="../imgs/imagens_ultrarange/6f22c1bd-2311-496b-851e-b63d0108a17f.jfif" class="modelos" onclick="show_ultrarange(this)">
                <img src="../imgs/imagens_ultrarange/732a9c6a-0276-4f59-87a7-468c20c47340.jfif" class="modelos" onclick="show_ultrarange(this)">
                <img src="../imgs/imagens_ultrarange/cc127819-5d20-433f-bcdc-a8ba4aee3325.jfif" class="modelos" onclick="show_ultrarange(this)">
                <img src="../imgs/imagens_ultrarange/e33df10b-9aef-4946-a183-f50934e9dd4e.jfif" class="modelos" onclick="show_ultrarange(this)">
            </div>
            
        </article>
    
        <article class="info_produto">
    
            <h1 class="modelo">Ultrarange</h1>
    
            <div class="preco_link">
    
                <h2 class="preco">R$250,00</h2>
    
                <p class="ver_mais" id="ver_mais_ultrarange">Ver Mais</p>
    
            </div>
    
        </article>
    
    </section>

    <script src="../js/vans.js"></script>

</body>
</html>